js/extraLongFactorials.js
js/formingMagicSquare.js
js/correctnessInvariant.js
js/sherlockAndTheBeast.js
js/generateColorString.js
js/dateAdder.js
php/extra_long_factorials.php
php/url_replace.php
python/jumping_on_clouds.py
python/funny_string.py